<div class="tw-border h-full">
  <div class="wrapper m-4">
    <h1 class="mb-4 text-2xl font-medium">Settings:</h1>

    <form class="flex flex-col gap-4" [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
      <div class="">
        <div class="text-lg">Minutes of last sentences to initially load:</div>
        <mat-form-field class="w-20">
          <input matInput type="number" formControlName="initLoadLastNMinutes" required />
        </mat-form-field>
      </div>

      <div class="kek">
        <div class="text-lg">Main Prompt:</div>
        <mat-form-field class="w-full">
          <mat-label>Main Prompt</mat-label>
          <textarea matInput formControlName="mainPrompt" rows="10" required></textarea>
        </mat-form-field>
      </div>

      <button
        class="main-button"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="settingsService.requestInProgress"
      >
        Save
      </button>
    </form>
  </div>
</div>
