<div class="flex h-full gap-2">
  <div class="tw-rounded-border tw-card-bg flex w-full flex-col">
    <h1 class="px-2 pt-2 text-xl font-[500]">Транскрипт:</h1>
    <div class="flex flex-col gap-2 overflow-y-auto p-2" #sentencesScrollContainer>
      <div #dynamicContentWrapper>
        @for (sentence of sentencesList; track $index) {
          <div class="flex gap-2 text-xl">
            <div class="font-semibold">{{ unixTimeToHumanTime(sentence[0]) }}:</div>
            <div>{{ sentence[1] }}</div>
          </div>
        }
      </div>
    </div>
  </div>

  <div class="tw-rounded-border tw-card-bg flex h-full flex-col gap-2 py-2">
    <button
      class="main-button scale-90"
      mat-fab
      color="primary"
      (click)="startRecognition()"
      [disabled]="recognitionService.recognitionInProgress || recognitionService.requestInProgress"
    >
      <mat-icon class="scale-150">play_arrow</mat-icon>
    </button>

    <button
      class="main-button scale-90"
      mat-fab
      color="warn"
      (click)="stopRecognition()"
      [disabled]="!recognitionService.recognitionInProgress || recognitionService.requestInProgress"
    >
      <mat-icon class="scale-150">stop</mat-icon>
    </button>

    <button
      class="main-button scale-90"
      mat-fab
      (click)="startInference()"
      [disabled]="inferenceService.requestInProgress"
    >
      GPT
    </button>
  </div>

  <div class="flex h-full w-full flex-col gap-2">
    <div class="tw-rounded-border tw-card-bg grow overflow-y-auto p-2">
      <h1 class="mb-4 text-xl font-[500]">Текущий ответ:</h1>
      <div class="overflow-y-auto text-xl"><markdown [data]="inferenceService.inferenceResultNew"></markdown></div>
    </div>

    <div class="tw-rounded-border tw-card-bg grow overflow-y-auto p-2">
      <h1 class="mb-4 text-xl font-[500]">Предыдущий ответ:</h1>
      <div class="overflow-y-auto text-xl"><markdown [data]="inferenceService.inferenceResultOld"></markdown></div>
    </div>
  </div>
</div>
