<div class="flex h-full gap-2">
  <div class="tw-rounded-border tw-card-bg flex w-full flex-col">
    <h1 class="px-2 pt-2 text-xl font-[500]">Транскрипт:</h1>
    <div class="flex flex-col gap-2 overflow-y-auto p-2" #sentencesScrollContainer>
      <div #dynamicContentWrapper>
        @for (sentence of recognitionService.PreppedSentencesList$$(); track $index) {
          <div class="flex gap-2 text-xl">
            <div class="font-semibold">{{ unixTimeToHumanTime(sentence[0]) }}:</div>
            <div [ngClass]="{ 'bg-gray-400 dark:bg-gray-600': sentence[2] }">{{ sentence[1] }}</div>
          </div>
        }
      </div>
    </div>
  </div>

  <div class="tw-rounded-border tw-card-bg flex h-full flex-col gap-3 p-2">
    <button
      class="main-button"
      mat-fab
      color="primary"
      (click)="startRecognition()"
      [disabled]="recognitionService.recognitionInProgress || recognitionService.requestInProgress"
    >
      <mat-icon class="scale-150">play_arrow</mat-icon>
    </button>

    <button
      class="main-button"
      mat-fab
      color="warn"
      (click)="stopRecognition()"
      [disabled]="!recognitionService.recognitionInProgress || recognitionService.requestInProgress"
    >
      <mat-icon class="scale-150">stop</mat-icon>
    </button>

    <div class="-mb-2 mt-4 w-14 text-center">Send to chatpgt last:</div>

    @for (mins of lastNMinsTimeButtons; track $index) {
      <button
        class="gpt-button"
        mat-raised-button
        color="primary"
        (click)="startInference(mins)"
        [disabled]="inferenceService.requestInProgress"
        (mouseenter)="updateSentencesBackground(mins)"
        (mouseleave)="updateSentencesBackground(0)"
      >
        {{ mins }} min
      </button>
    }
  </div>

  <div class="flex h-full w-full flex-col gap-2">
    <div class="tw-rounded-border tw-card-bg grow overflow-y-auto p-2">
      <h1 class="mb-4 text-xl font-[500]">Текущий ответ:</h1>
      <div class="overflow-y-auto text-xl"><markdown [data]="inferenceService.inferenceResultNew"></markdown></div>
    </div>

    <div class="tw-rounded-border tw-card-bg grow overflow-y-auto p-2">
      <h1 class="mb-4 text-xl font-[500]">Предыдущий ответ:</h1>
      <div class="overflow-y-auto text-xl"><markdown [data]="inferenceService.inferenceResultOld"></markdown></div>
    </div>
  </div>
</div>
