// Angular material themes
@use '@angular/material' as mat;

@include mat.core();

$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$light-theme: mat.define-light-theme((color: (primary: $light-primary, accent: $light-accent, ), ));

$dark-primary: mat.define-palette(mat.$blue-grey-palette);
$dark-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$dark-theme: mat.define-dark-theme((color: (primary: $dark-primary, accent: $dark-accent, ), ));

@include mat.all-component-themes($light-theme);

.dark {
  @include mat.all-component-colors($dark-theme);
}



// Angular material misc.
.main-button .mdc-button__label {
  font-size: 20px !important;
  font-weight: 500 !important;
  letter-spacing: normal !important;
}

.gpt-button.mdc-button--raised {
  padding: 0px !important;
}

.gpt-button.mdc-button {
  min-width: auto !important;
}



// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;


.tw-body-bg {
  @apply dark:bg-slate-900
}

.tw-card-bg {
  @apply dark:bg-slate-800
}

.tw-rounded-border {
  @apply rounded-md border-2 border-gray-300 dark:border-gray-700
}

.tw-text {
  @apply dark:text-slate-300
}



html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}